*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  font-family: cursive;
  scroll-behavior: smooth;
}
body.stop-scroll{
  height: 100%;
  overflow: hidden;
}
main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
  transition-duration: 2s;
}
/* .c{
  background: linear-gradient(#022150, #04020d);
} */
main div{
  background-color: rgb(0, 119, 255);
  width: 100%;
  padding-top: 220px;
  padding-bottom: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: cursive;
  transition-duration: 2s;
}
main div button{
  width: 60%;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.music-and-modes{
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.music-and-modes div{
  width: 50%;
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.modes-label{
  width: 80px;
  height: 35px;
  background-color: grey;
  position: relative;
  border-radius: 20px;
}
.circle{
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  cursor: pointer;
  animation: toggleOff 1s linear forwards;
}
.modes-checkbox{
  display: none;
}
.modes-checkbox:checked + .modes-label{
  background-color: rgb(255, 255, 255);
}
.modes-checkbox:checked + .modes-label .circle{
  background-color: lightgrey;
  animation: toggleOn 1s linear forwards;
}
@keyframes toggleOn{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(40px);
  }
}
@keyframes toggleOff{
  from{
    transform: translateX(40px);
  }
  to{
    transform: translateX(0px);
  }
}

.next-que-btn{
  max-width: 25%;
  width: 150px;
  padding: 13px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: rgb(0, 119, 255);
}
.player-details{
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}
.player-details img{
  border-radius: 50%;
}

.options-toggle{
  cursor: pointer;
  font-size: 25px;
}

.fa-xmark{
  position: absolute;
  right: 5%;
  top: 5%;
}

.options{
  max-width: 100%;
  width: 500px;
  height: 100vh;
  padding: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0px;
  gap: 20px;
  z-index: 5;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}

.options.active{
  transform: translateX(0);
}

.options button{
  width: 200px;
  padding: 15px;
  background-color: rgb(0, 119, 255);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  border: none;
}
.first-popup{
  width: 90%;
  height: 80%;
  position: fixed;
  margin: auto;
  top: 50px;
  left: 55px;
  z-index: 6;
  background-color: rgb(0, 66, 141);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  scale: 0.1;
  transition: all 1s ease-in;
  padding: 10px 0;
}
.first-popup.active{
  opacity: 1;
  scale: 1;
}
.close-first-popup{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.pfp-change{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  height: 250px;
}
.pfp-change img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
#player-name-inp{
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}
#submit-data{
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.congratulation-popup{
  width: 90%;
  height: 70%;
  position: fixed;
  margin: auto;
  top: 150px;
  left: 55px;
  border-radius: 10px;
  background-color: rgb(0, 119, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  opacity: 0;
  scale: 0.1;
  transition: all 1s ease-in;
  box-shadow: 0px 0px 20px rgb(0, 119, 255);
}
.congratulation-popup.active{
  opacity: 1;
  scale: 1;
}
@media screen and (max-width: 900px){
  .first-popup{
    left: 25px;
  }
  .congratulation-popup{
    left: 25px;
  }
  .options{
    top: 50px;
  }

  main div{
    padding-top: 70px;
    padding-bottom: 60px;

  }
  main div button{
    padding: 10px;
  }
  .pfp-change img{
    width: 150px;
    height: 150px;
  }
  .pfp-change{
    width: 100%;
    align-items: center;
  }

}